a {
  text-decoration: none;
}

h1,
h2 {
  color: darkorange;
}

#p-crimson {
  color: crimson;
}
section p {
  color: blueviolet;
}

section article p {
  color: black;
}
section p:nth-of-type(2),
section article p:nth-of-type(2) {
  color: green;
}
